#drum-machine {
    border: .3rem solid rgb(68, 68, 68);
    border-radius: .4rem;
    width: 60%;
    height: auto;
    margin-left: 50%;
    margin-top: 15vh;
    transform: translate(-50%);
    text-align: center;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;

    &__body {
        display: flex;
    }
}
